<app-page-shell [title]="'SQL Debug Konsole'" [dividers]="'both'">
    <!-- Explanation -->
    <p class="mb-3">
        Diese Konsole erlaubt das Ausführen von readonly <strong>SELECT</strong>-Queries an die Datenbank im Backend.<br>
        Aus Performancegründen werden maximal <strong>9999 Spalten</strong> zurückgegeben.
    </p>

    <!-- SQL Editor with Frame -->
    <div class="sql-editor-glass mb-3">
        <ngx-codemirror [(ngModel)]="sqlQuery" [options]="editorOptions"></ngx-codemirror>
    </div>

    <!-- SELECT Error Message -->
    @if (isNotSelect)
    {
        <div class="alert alert-danger">
            Es sind ausschließlich <strong>SELECT</strong>-Queries erlaubt!
        </div>
    }

    <!-- Buttons -->
    <div class="mb-3">
        <button class="btn btn-outline-light me-2" (click)="runQuery()">Ausführen</button>
        <button class="btn btn-outline-secondary me-2" (click)="toggleView()">
            Ansicht: {{ viewMode === 'table' ? 'Tabelle' : 'JSON' }}
        </button>
    </div>

    <!-- Results -->
    @if (result)
    {
        <hr>
        @if (!isError)
        {
            <h2 class="mb-4">✅ Antwort</h2>
        }

        @else
        {
            <h2 class="mb-4">❌ Antwort</h2>
        }

        <div class="rounded">
            <!-- Raw JSON -->
            @if (viewMode === 'raw')
            {
                <pre class="text-white-50">{{ result | json }}</pre>
            }

            <!-- Table View -->
            @else
            {
                <div class="result-table-glass">
                    <div class="result-table-scroll">
                        <table class="table text-center align-middle">
                            <thead>
                                <tr>
                                    @for (col of result.columns; let i = $index; track i)
                                    {
                                        <th>{{ col }}</th>
                                    }
                                </tr>
                            </thead>

                            <tbody>
                                @for (row of result.rows; let r = $index; track r)
                                {
                                    <tr>
                                        @for (cell of row; let c = $index; track c)
                                        {
                                            <td>{{ cell ?? '-'}}</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    }
</app-page-shell>